/* 1069px and Upper - Desktop Header */
.announcement {
    height: auto;
    width: 100%;
    padding: 1.5rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.announcement .content {
    z-index: 100;
    height: auto;
    width: 128rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-dark);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
}

.announcement .content a {
    user-select: none;
    font-size: 1.7rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-light);
    text-align: center;
    transition: 0.3s;
}

.announcement .content a:hover {
    color: var(--color-primary);
}


/*  834px - 1068px - Laptop Header */
@media screen and (min-width: 834px) and (max-width: 1068px) {
}

/*  576px - 833px - Tablet Header */
@media screen and (min-width: 576px) and (max-width: 833px) {
    .announcement {
        padding: 1rem 2rem;
        box-shadow: 0 0 50px #000;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    
    .announcement .content a {
        font-size: 1.5rem;
    }
}

/*  575px and Lower - Mobile Header */
@media screen and (max-width: 575px) {
    .announcement {
        padding: 1rem 2rem;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    
    .announcement .content a {
        font-size: 1.2rem;
    }
}