/* Button */
.btn {
    display: inline-block;
    padding: 1.2rem 1.8rem;
    border: none;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s ease;
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-bold);
    font-size: 1.8rem;
    cursor: pointer;
}

/* Modal button Starting*/
.btn-modal {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    width: 100%;
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    margin-top: 3rem;
}

/* Get Started button Starting*/
.btn-getstarted {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    width: 18.5rem;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-getstarted:hover {
    box-shadow: 0 0 15px var(--color-primary);
    transform: scale(1.05);
}

/* Order Now button Starting*/
.btn-ordernow {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    width: 23rem;
    height: 6.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-ordernow:hover {
    box-shadow: 0 0 15px var(--color-primary);
    transform: scale(1.05);
}

/* Category button Starting*/
.btn-category {
    background-color: var(--color-dark);
    color: var(--color-text-light);
    height: 3.3rem;
    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.btn-category:hover {
    background-color: var(--color-primary);
}

.btn-category.active {
    background-color: var(--color-primary);
}

/* Contact us button Starting*/
.btn-contactus {
    background-color: transparent;
    color: var(--color-text-light);
    width: 23rem;
    height: 6.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-contactus:hover {
    transform: scale(1.05);
}

/* Join telegram button Starting*/
.btn-jointelegram {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    width: 26.8rem;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.btn-jointelegram:hover {
    box-shadow: 0 0 15px var(--color-primary);
}



/* Icons Starting */
.downarrow-icon {
    font-size: 1.6rem;
    margin-top: 0.7rem;
    padding-bottom: 5px;
    transition: transform 0.5s ease;
}

.question.active .downarrow-icon {
    transform: translateY(-6px) rotate(180deg);
    transform-origin: center;
}

.bag-icon {
    margin-top: 0.6rem;
    margin-right: 1.4rem;
    transition: 0.3s ease;
}

.rightarrow-icon {
    margin-top: 0.8rem;
    margin-right: 1.4rem;
    transition: 0.3s ease;
}

.line-icon {
    margin-top: 0.7rem;
    margin-right: 1.7rem;
}

.check-icon {
    margin-top: 0.7rem;
    margin-right: 1.4rem;
}

.click-icon {
    margin-top: 0.2rem;
}

.product-icon {
    margin-top: 0.2rem;
    margin-right: 1.4rem;
}



/* Black Bar button and icon Starting*/
#btn-blackbar {
    display: none;
    cursor: pointer;
}

#btn-blackbar.active #blackbarbutton-icon {
    transform: rotate(90deg);
}

#btn-blackbar:hover,
#btn-blackbar:hover #blackbarbutton-icon {
    color: var(--color-text-light);
}

#blackbarbutton-icon {
    color: var(--color-text-hover);
    transition: 0.3s ease;
    font-size: 3rem;
}