/* Button */
.btn {
    display: inline-block;
    padding: 1.2rem 1.8rem;
    border: none;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s ease;
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-normal);
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-text-light);
}

/* Hero button Starting*/
.btn-hero {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    width: 22rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-hero:hover {
    background-color: var(--color-primary-hover);
}

/* Hero 2 button Starting*/
.btn-hero-2 {
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark-hover);
    color: var(--color-text-light);
    width: 22rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0rem 2rem var(--color-dark);
}

.btn-hero-2:hover {
    background-color: var(--color-dark-hover);
}

/* Icons Starting */
.rightarrow-icon {
    margin-left: 1.2rem;
}

.footerheart-icon {
    background: var(--color-linear-1-2);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.4rem;
    margin: 0 0.1rem;
}

.footerig-icon {
    background: var(--color-linear-1-2);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.4rem;
    margin: 0 0.1rem;
}

/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {
    
}

/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {

}