/* Button */
.btn {
    display: inline-block;
    padding: 1rem 1.8rem;
    border: none;
    border-radius: 16px;
    text-align: center;
    transition: 0.3s ease;
    font-family: var(--font-family-normal);
    font-size: 1.6rem;
    cursor: pointer;
}

/* Popup button Starting*/
.btn-popup {
    background-color: var(--color-primary);
    color: var(--color-dark);
    width: 16rem;
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.btn-popup:hover {
    background-color: var(--color-secondary);
}

/* Popup button 2 Starting*/
.btn-popup-2 {
    background-color: var(--color-primary);
    color: var(--color-dark);
    width: 16rem;
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.btn-popup-2:hover {
    background-color: var(--color-secondary);
}

/* Header button Starting*/
.btn-header {
    background-color: var(--color-primary);
    color: var(--color-dark);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-header:hover {
    background-color: var(--color-secondary);
}

/* Order Now button Starting*/
.btn-ordernow {
    background-color: var(--color-primary);
    color: var(--color-dark);
    width: 22rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-ordernow:hover {
    background-color: var(--color-secondary);
}

/* Contact us button Starting*/
.btn-contactus {
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark-hover);
    color: var(--color-text-light);
    width: 22rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-contactus:hover {
    background-color: var(--color-dark-hover);
}

/* Order Golden button Starting*/
.btn-ordergolden {
    background-color: var(--color-primary);
    color: var(--color-dark);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-ordergolden:hover {
    background: var(--color-secondary);
}

/* Order Silver button Starting*/
.btn-ordersilver {
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark-hover);
    color: var(--color-text-light);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-ordersilver:hover {
    background-color: var(--color-dark-hover);
}

/* Product button Starting*/
.btn-product {
    color: var(--color-dark);
    background-color: var(--color-primary);
    border-radius: 5px;
    padding: 1.5rem 1.5rem;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-product:hover {
    background-color: var(--color-secondary);
}

/* Buy button Starting*/
.btn-buy {
    background-color: var(--color-primary);
    color: var(--color-dark);
    border-radius: 8px;
    font-size: 1.5rem;
    width: 5rem;
    height: 3.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-buy:hover {
    background-color: var(--color-secondary);
}

/* Contact button Starting*/
.btn-contact {
    background-color: var(--color-primary);
    color: var(--color-dark);
    width: 22rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-contact:hover {
    background-color: var(--color-secondary);
}

/* Icons Starting */
.bag-icon {
    margin-top: 0.6rem;
    margin-right: 0.8rem;
    transition: 0.3s ease;
}

.line-icon {
    margin-top: 0.7rem;
    margin-right: 1.3rem;
}

.check-icon {
    margin-right: 1.4rem;
}

.reviewstar-icon {
    width: 20px;
    height: auto;
    margin-right: 0.5rem;
}

.reviewcheckmark-icon {
    width: 15px;
    height: auto;
    margin-top: 0.3rem;
    margin-right: 1.5rem;
}

.rightarrow-icon {
    margin-left: 1.2rem;
}

.footerheart-icon {
    background: var(--color-linear-1-2);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.1rem;
    margin: 0 0.3rem;
}

/* Black Bar button and icon Starting*/
#btn-blackbar {
    display: none;
    cursor: pointer;
}

#btn-blackbar.active #blackbarbutton-icon {
    transform: rotate(90deg);
}

#btn-blackbar:hover,
#btn-blackbar:hover #blackbarbutton-icon {
    color: var(--color-text-light);
}

#blackbarbutton-icon {
    color: var(--color-text-hover);
    transition: 0.3s ease;
    font-size: 3rem;
}

/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {
    .btn-header {
        padding: 0.5rem 1.6rem;
    }

    .reviewstar-icon {
        width: 15px;
        height: auto;
        margin-right: 0.5rem;
    }

    .reviewcheckmark-icon {
        width: 15px;
        height: auto;
        margin-top: 0.3rem;
        margin-right: 1.5rem;
    }
}

/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {

    #telegram {
        position: fixed;
        bottom: 0.5rem;
        right: 0.5rem;
        z-index: 1;
    }

    .btn-telegram {
        height: 5rem;
        width: auto;
    }

    .btn-buy {
        font-size: 1.4rem;
        width: 4.5rem;
        height: 3rem;
    }

    .btn-contact {
        width: 100%;
    }

    .reviewstar-icon {
        width: 10px;
        height: auto;
        margin-right: 0.3rem;
    }

    .reviewcheckmark-icon {
        width: 10px;
        height: auto;
        margin-top: 0.3rem;
        margin-right: 1rem;
    }
}