/* 1069px and Upper - Desktop Header */
.modal {
    position: fixed;
    display: none;
    z-index: 111;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

.modal-box {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    max-width: 480px;
    height: auto;
    padding: 4rem;
    border: 1px solid #888;
    border-radius: 6px;
    background-color: #fefefe;
}

.close {
    position: fixed;
    top: -0.6rem;
    right: 0.75rem;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-header img {
    width: 8rem;
    height: auto;
    margin-bottom: 2rem;
}

.modal-header h2 {
    font-size: 2.2rem;
    text-align: center;
}

.modal-content {
    padding-top: 2rem;
}

.modal-content ul {
    list-style-type: disc;
    padding-left: 1.8rem;
}

.modal-content p {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.15rem;
    word-spacing: 0.15rem;
}

.modal-content button {
    background-color: var(--color-primary);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


/*  834px - 1068px - Laptop Header */
@media screen and (min-width: 834px) and (max-width: 1068px) {
}

/*  576px - 833px - Tablet Header */
@media screen and (min-width: 576px) and (max-width: 833px) {
}

/*  575px and Lower - Mobile Header */
@media screen and (max-width: 575px) {
    .modal-box {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -10%);
        width: 85%;
        max-width: 480px;
        padding: 2rem;
    }
}