/* 1069px and Upper - Desktop Header */
.popup {
    display: none;
    position: fixed;
    z-index: 111;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.popup-box {
    user-select: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 90rem;
    height: auto;
    padding: 2rem;
    border: 2px solid var(--color-primary);
    border-radius: 6px;
    background-color: var(--color-background);
    color: var(--color-text-hover);
}

.popup-close {
    position: fixed;
    top: -0.6rem;
    right: 0.75rem;
    color: var(--color-text-hover);
    font-size: 28px;
    font-weight: normal;
    cursor: pointer;
    transition: 0.15s;
}

.popup-close:hover,
.popup-close:focus {
    color: var(--color-text-light);
    text-decoration: none;
    cursor: pointer;
}

.popup-header h5 {
    font-size: 3rem;
    font-family: var(--font-family-normal);
    color: var(--color-primary);
    text-align: center;
}

.popup-content {
    padding-top: 2rem;
    width: 100%;
    height: auto;
    gap: 1rem;
    display: flex;
    flex-direction: row;
}

.popup-content .text {
    display: flex;
    flex-direction: column;
    width: 52%;
}

.popup-content .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
}

.popup-content .image img {
    width: 40rem;
    height: auto;
}

.popup-content ul {
    list-style-type: disc;
    padding: 2rem 0 2rem 1.4rem;
}

.popup-content p {
    font-size: 1.6rem;
    text-align: left;
    color: var(--color-text-hover);
}

.popup-content ul li::marker {
    color: var(--color-secondary);
}

.popup-content .popup-buttons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 2rem;
}

/*  834px - 1068px - Laptop Header */
@media screen and (min-width: 834px) and (max-width: 1068px) {
}

/*  576px - 833px - Tablet Header */
@media screen and (min-width: 576px) and (max-width: 833px) {
    .popup-box {
        padding: 1.5rem;
        max-width: 95%;
        max-height: 95%;
        overflow-y: auto;
    }

    .popup-content {
        flex-direction: column;
    }
    
    .popup-content .text {
        width: 100%;
    }
    
    .popup-content .image {
        width: 100%;
        display: none;
    }

    .popup-content .popup-buttons a {
        width: 50%;
    }
}

/*  575px and Lower - Mobile Header */
@media screen and (max-width: 575px) {
    .popup-box {
        padding: 1.5rem;
        max-width: 95%;
        max-height: 95%;
        overflow-y: auto;
    }

    .popup-content {
        flex-direction: column;
    }
    
    .popup-content .text {
        width: 100%;
    }
    
    .popup-content .image {
        width: 100%;
        display: none;
    }

    .popup-content .popup-buttons {
        flex-direction: column;
    }

    .popup-content .popup-buttons a {
        width: 100%;
    }

    .popup-header h5 {
        font-size: 1.8rem;
    }

    .popup-content p {
        font-size: 1.4rem;
    }
}