/* Rain */
.bubbles {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: -1000;
}

.bubbles span {
    position: relative;
    width: 1px;
    height: 1px;
    background-color: var(--color-text-hover);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0px 1px var(--color-text-dark), 0 0 4px var(--color-text-hover), 0 0 11px var(--color-text-hover);
    animation: BubblesAnimation 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

/* Animations */
@keyframes BubblesAnimation {
    0% {
        transform: translateY(0vh) scale(0.4);
    }

    100% {
        transform: translateY(100vh) scale(0.6);
    }
}