/* General site settings Starting */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

html,
body,
ul,
ol {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

figure {
    margin: 0;
}

i,
img {
    user-select: none;
    pointer-events: none;
}

/* General site settings End */



/* Root Starting */
:root {
    /* Colors */
    --color-primary: rgb(238, 175, 70);
    --color-secondary: #e7c148;
    --color-bright: rgb(219, 224, 76);
    --color-background: #15171c;
    --color-dark: #1e2127;
    --color-dark-hover: rgb(37, 41, 48);
    --color-text-dark: rgb(140, 141, 143);
    --color-text-light: #ffffff;
    --color-text-hover: #BDBDBD;
    --color-linear-1: linear-gradient(to left, var(--color-primary), var(--color-bright));
    --color-linear-1-2: linear-gradient(to right, var(--color-primary), var(--color-bright));
    --color-linear-1-3: linear-gradient(to top, var(--color-primary), var(--color-bright));
    --color-eclipse: rgba(219, 224, 76, 0.5);
    --color-eclipse-2: rgba(238, 175, 70, 0.5);
    /* Other colors */
    --color-price: rgb(32, 173, 84);
    --color-instock: rgb(173, 173, 173);
    --color-nostock: #e74c3c;
    /* Font weights */
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    /* Font families */
    --font-family-1: 'League Spartan', sans-serif;
    --font-family-normal: 'Title-normal', sans-serif;
    --font-family-bold: 'Title-bold', sans-serif;
    --font-family-black: 'Title-black', sans-serif;
    /* Slider Settings */
    --slider-card-count: 15;
    --slider-card-width: 40rem;
    --slider-scroll-duration: 45s;
}

/* Roots End */

@font-face {
    font-family: 'Title-normal';
    src: url('/assets/fonts/OpenSauceSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Title-bold';
    src: url('/assets/fonts/OpenSauceSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Title-black';
    src: url('/assets/fonts/OpenSauceSans-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Scrollbar Starting */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 2px 5px var(--color-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
}

/* Scrollbar End */



/* Font Setup Starting */
html {
    font-size: 10px;
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-normal);
}

body {
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-normal);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-bold);
    font-size: 2.4rem;
    line-height: 1.5;
}

p,
a,
ul,
ol {
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-normal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Font Setup End */



/*  834px - 1068px - Laptop Fonts */
@media screen and (min-width: 834px) and (max-width: 1068px) {
    body {
        font-size: 1.4rem;
    }
}


/*  576px - 833px - Tablet Fonts */
@media screen and (min-width: 576px) and (max-width: 833px) {
    body {
        font-size: 1.1rem;
    }
}

/*  575px and Lower - Mobile Fonts */
@media screen and (max-width: 575px) {
    body {
        font-size: 0.8rem;
    }
}