/* General site settings Starting */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 0rem;
}

html,
body,
ul,
ol {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

figure {
    margin: 0;
}

i,
img {
    user-select: none;
    pointer-events: none;
}

/* General site settings End */



/* Root Starting */
:root {
    /* Colors */
    --color-primary: #5C07CB;
    --color-secondary: #7656A0;
    --color-background: #171717;
    --color-dark: #202020;
    --color-text-dark: rgb(140, 141, 143);
    --color-text-light: #ffffff;
    --color-text-hover: #BDBDBD;
    /* Font weights */
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    /* Font families */
    --font-family-1: 'Lato', sans-serif;
    --font-family-2: 'Montserrat', sans-serif;
}

/* Roots End */



/* Scrollbar Starting */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 2px 5px var(--color-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
}

/* Scrollbar End */



/* Selections Starting */
div::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection,
p::selection,
ul::selection,
ol::selection,
button::selection,
img::selection {
  color: var(--color-primary);
  background: transparent;
}
/* Selections End */



/* Font Setup Starting */
html {
    font-size: 10px;
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-normal);
}

body {
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-normal);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-bold);
    font-size: 2.4rem;
    line-height: 1.5;
}

p,
a,
ul,
ol {
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-normal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Font Setup End */



/*  834px - 1068px - Laptop Fonts */
@media screen and (min-width: 834px) and (max-width: 1068px) {
    body {
        font-size: 1.4rem;
    }
}


/*  576px - 833px - Tablet Fonts */
@media screen and (min-width: 576px) and (max-width: 833px) {
    body {
        font-size: 1.1rem;
    }
}

/*  575px and Lower - Mobile Fonts */
@media screen and (max-width: 575px) {
    body {
        font-size: 0.8rem;
    }
}