/* 1069px and Upper - Desktop Footer */
.footer {
	height: 7rem;
	width: 100%;
	background-color: var(--color-dark);
}

.footer-copyright {
	height: 7rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-copyright .copyright-left p,
a {
	font-size: 1.4rem;
	color: var(--color-text-dark);
	font-weight: var(--font-weight-normal);
	text-align: left;
}

.footer-copyright .copyright-right p,
a {
	font-size: 1.4rem;
	color: var(--color-text-dark);
	font-weight: var(--font-weight-normal);
	text-align: left;
}


/*  834px - 1068px - Laptop Footer */
@media screen and (min-width: 834px) and (max-width: 1068px) {}


/*  576px - 833px - Tablet Footer */
@media screen and (min-width: 576px) and (max-width: 833px) {

	/* Copyright Section */
	.footer-copyright .copyright-left p,
	a {
		font-size: 1.1rem;
	}

	.footer-copyright .copyright-right p,
	a {
		font-size: 1.1rem;
	}
}

/*  575px and Lower - Mobile Footer */
@media screen and (max-width: 575px) {

	/* Copyright Section */
	.footer-copyright .copyright-left p,
	a {
		font-size: 0.8rem;
	}

	.footer-copyright .copyright-right p,
	a {
		font-size: 0.8rem;
	}
}