/* 1069px and Upper - Desktop Footer */
.footer {
	height: auto;
	width: 100%;
	margin-top: 2.5rem;
	box-shadow: 0 0 25px rgb(0, 0, 0);
}

.footer-copyright {
	height: auto;
	width: 100%;
	padding: 2rem 0;
	display: flex;
	align-items: center;
}

.footer-copyright .copyright-text {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-copyright .copyright-text p {
	font-size: 1.5rem;
	color: var(--color-text-hover);
	font-family: var(--font-family-2);
	font-weight: var(--font-weight-normal);
	text-align: left;
}

.footer-copyright a {
	font-size: 1.5rem;
	color: var(--color-primary);
	font-family: var(--font-family-2);
	font-weight: var(--font-weight-normal);
	text-align: left;
	transition: 0.3s ease;
}

.footer-copyright a:hover {
	text-shadow: 0 0 8px var(--color-secondary);
}

/*  834px - 1068px - Laptop Footer */
@media screen and (min-width: 834px) and (max-width: 1068px) {

}


/*  576px - 833px - Tablet Footer */
@media screen and (min-width: 576px) and (max-width: 833px) {
	.footer-copyright .copyright-text p {
		font-size: 1.4rem;
	}
}

/*  575px and Lower - Mobile Footer */
@media screen and (max-width: 575px) {
	
	.footer-copyright .copyright-text {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.footer-copyright .copyright-text p {
		font-size: 1.4rem;
		padding-bottom: 0.5rem;
		text-align: center;
	}

	.footer-copyright .copyright-text a {
		font-size: 1.4rem;
		text-align: center;
	}
}