/* 1069px and Upper - Desktop Footer */
.footer {
	height: auto;
	width: 100%;
	z-index: 1;
}

.footer-content {
	height: auto;
	padding: 4rem 0;
	gap: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--color-dark-hover);
}

.footer-logo .logo {
    width: 6rem;
	height: auto;
    display: flex;
}

.footer-links {
	display: flex;
	gap: 4rem;
}
.footer-links a {
	font-size: 1.6rem;
	color: var(--color-text-hover);
	font-weight: var(--font-weight-bold);
	text-align: center;
	transition: 0.3s;
}
.footer-links a:hover {
	color: var(--color-text-light);
	text-shadow: 0 0 8px rgb(252, 252, 252);
}

.footer-socials {
	display: flex;
	gap: 4rem;
}
.footer-socials img {
	height: 5rem;
	width: auto;
}

.footer-copyright a, p {
	font-size: 1.6rem;
	color: var(--color-text-hover);
	font-weight: var(--font-weight-normal);
	text-align: center;
	transition: 0.3s;
}
.footer-copyright a:hover {
	color: var(--color-primary);
	text-shadow: 0 0 8px var(--color-secondary);
}


/*  834px - 1068px - Laptop Footer */
@media screen and (min-width: 834px) and (max-width: 1068px) {}


/*  576px - 833px - Tablet Footer */
@media screen and (min-width: 576px) and (max-width: 833px) {
	.footer-content {
		padding: 3rem 0;
		gap: 1.5rem;
	}
	
}

/*  575px and Lower - Mobile Footer */
@media screen and (max-width: 575px) {
	.footer-content {
		padding: 3rem 0;
		gap: 1.5rem;
	}

	.footer-logo .logo {
		width: 5rem;
	}

	.footer-links {
		gap: 2rem;
	}
	.footer-links a {
		font-size: 1.2rem;
	}

	.footer-socials {
		gap: 3rem;
	}
	.footer-socials img {
		height: 4rem;
	}

	.footer-copyright a, p {
		font-size: 1.2rem;
	}
}