/* 1069px and Upper - Desktop Header */
.header {
    height: auto;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.navigation {
    z-index: 100;
    height: 6rem;
    width: 128rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .logo {
    height: 6rem;
    width: auto;
    display: flex;
}

.navigation .navbar {
    margin-left: 6rem;
    padding-left: 3rem;
    border-left: 2px solid var(--color-dark);
    gap: 4rem;
    display: flex;
    align-items: center;
}

.navigation .navbar a {
    font-size: 1.5rem;
    color: var(--color-text-hover);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-normal);
    transition: 0.3s ease;
}

.navigation .navbar a:hover {
    color: var(--color-text-light);
    text-shadow: 0 0 8px rgb(252, 252, 252);
}

.navigation .nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 2rem;
}

#black-bar {
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
    display: none;
}

#nav-blackbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5rem 1rem;
}

#nav-blackbar a {
    line-height: 2;
    margin-left: 4rem;
    font-size: 2.4rem;
    color: var(--color-text-light);
    font-weight: var(--font-weight-black);
}


/*  834px - 1068px - Laptop Header */
@media screen and (min-width: 834px) and (max-width: 1068px) {

    .navigation .navbar {
        margin-left: 5rem;
        padding-left: 2.5rem;
        gap: 3rem;
    }

    .navigation .navbar a {
        font-size: 1.6rem;
    }

}


/*  576px - 833px - Tablet Header */
@media screen and (min-width: 576px) and (max-width: 833px) {

    #btn-blackbar {
        z-index: 101;
        display: block;
    }

    .header {
        position: sticky;
        top: -0.1px;
        left: 0;
        padding: 0 2rem;
        box-shadow: 0 10px 50px #000;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .navigation {
        height: 6rem;
    }

    .navigation .navbar {
        display: none;
    }

    .navigation .logo {
        height: 5rem;
    }
}

/*  575px and Lower - Mobile Header */
@media screen and (max-width: 575px) {

    #btn-blackbar {
        z-index: 101;
        display: block;
    }

    #blackbarbutton-icon {
        font-size: 2.4rem;
    }

    #nav-blackbar {
        padding: 4rem 0rem;
    }
    
    #nav-blackbar a {
        font-size: 2rem;
    }

    .header {
        position: sticky;
        top: -0.1px;
        left: 0;
        padding: 0 2rem;
        box-shadow: 0 10px 50px #000;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .navigation {
        height: 6rem;
    }

    .navigation .navbar {
        display: none;
    }

    .navigation .nav-right {
        gap: 0rem;
    }

    .navigation .logo {
        height: 5rem;
    }

    .navigation .btn-header {
        display: none;
    }
}