/* 1069px and Upper - Desktop Header */
.header {
    height: 11rem;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 100;
}

.navigation {
    z-index: 100;
    height: 6rem;
    width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .logo {
    height: 6rem;
    width: auto;
    display: flex;
}

.navigation .navbar {
    margin-left: 4rem;
    display: flex;
    align-items: center;
}

.navigation .navbar a {
    margin-right: 4rem;
    font-size: 1.7rem;
    color: var(--color-text-dark);
    font-weight: var(--font-weight-bold);
    transition: 0.3s ease;
}

.navigation .navbar a:hover {
    color: var(--color-text-light);
    text-shadow: 0 0 8px rgb(252, 252, 252);
}

.navigation .nav-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}

#black-bar {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    display: none;
}

#nav-blackbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5rem 1rem;
}

#nav-blackbar a {
    line-height: 2;
    margin-left: 4rem;
    font-size: 2.4rem;
    color: var(--color-text-light);
    font-weight: var(--font-weight-black);
}


/*  834px - 1068px - Laptop Header */
@media screen and (min-width: 834px) and (max-width: 1068px) {

    .navigation .navbar {
        margin-left: 3rem;
    }

    .navigation .navbar a {
        margin-right: 3rem;
        font-size: 1.4rem;
    }

}


/*  576px - 833px - Tablet Header */
@media screen and (min-width: 576px) and (max-width: 833px) {

    #btn-blackbar {
        z-index: 101;
        display: block;
    }

    .header {
        position: fixed;
        height: 8rem;
        align-items: center;
        background-color: var(--color-dark);
    }

    .navigation .navbar {
        display: none;
    }

    .nav-right {
        width: 25rem;
    }
}

/*  575px and Lower - Mobile Header */
@media screen and (max-width: 575px) {

    #btn-blackbar {
        z-index: 101;
        display: block;
    }

    .header {
        position: fixed;
        height: 6rem;
        align-items: center;
        background-color: var(--color-dark);
    }

    .navigation .navbar {
        display: none;
    }

    .navigation .logo {
        height: 5rem;
    }

    .navigation .btn-getstarted {
        display: none;
    }
}