/* 1069px and Upper - Desktop Sections */

/* Hero section */
.hero {
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5rem;
}

.hero-content h1 {
    font-size: 9rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    line-height: 1;
    letter-spacing: 1.5px;
    margin-bottom: 7rem;
}

.hero-content .hero-title {
    width: 50rem;
    height: auto;
    margin-bottom: 7rem;
}

.hero-content p {
    font-size: 2.8rem;
    font-weight: var(--font-weight-bold);
    line-height: 27px;
    letter-spacing: 1px;
    color: var(--color-text-light);
    text-align: left;
    margin-bottom: 1rem;
}

.hero-content p span {
    font-weight: var(--font-weight-black);
    background: var(--color-linear-1);
    -webkit-background-clip: text;
    color: transparent;
}

.hero-buttons {
    margin-top: 3rem;
    gap: 2.5rem;
    display: flex;
    flex-direction: row;
}

.hero-content .hero-trustpilot {
    width: 45rem;
    height: auto;
    margin-top: 2rem;
}

.hero-img {
    width: 50%;
    z-index: -1;
}

.hero-img i img {
    width: 42rem;
    height: auto;
    margin-left: 5rem;
}

/* Banner AD section */
.banner {
    padding: 1rem 0;
    overflow: hidden;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-image-div {
    width: 49%;
    height: 100%;
}

.image-banner {
    width: 100%;
    height: auto;
}


/* Products section */
.products {
    padding: 5rem 0;
    color: var(--color-text-light);
}

.product-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products-title {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.products-title h3 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    text-align: center;
}

.products-title h2 {
    font-size: 4rem;
    font-weight: var(--font-weight-black);
    color: var(--color-text-light);
    line-height: 1;
    text-align: center;
}

.search-filter {
    width: 15rem;
    height: 4rem;
    margin-left: auto;
}

.search-filter input {
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    outline: none;
    font-size: 1.4rem;
    letter-spacing: 0.4px;
    color: var(--color-text-hover);
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    background-color: var(--color-dark);
    transition: 0.3s;
}

.search-filter input:hover {
    box-shadow: 0 0 10px var(--color-primary), inset 0 0 10px var(--color-primary);
}

.search-filter input::placeholder {
    color: var(--color-text-hover);
}


.category-filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;
}

.category-filter {
    height: auto;
    width: 90%;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
}

.category-filter-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-left,
.arrow-right {
    font-size: 2.5rem;
    font-weight: var(--font-weight-black);
    color: var(--color-primary);
    user-select: none;
}

.products-content {
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.product-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 25rem;
    flex: 0 0 27rem;
    padding: 1rem;
    color: var(--color-text-hover);
    border-radius: 5px;
    background-color: var(--color-dark);
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
    opacity: 1;
}

.product-box:hover {
    transform: scale(1.02);
    background-color: var(--color-dark-hover);
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.product-img {
    width: 100%;
    height: 65%;
}

.product-img i img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.product-text {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product-title {
    color: var(--color-text-light);
    font-weight: var(--font-weight-bold);
    font-size: 1.6rem;
}

.stock-info {
    color: var(--color-secondary);
    font-weight: var(--font-weight-bold);
    font-size: 1.6rem;
}

.product-button {
    width: 100%;
    height: 15%;
}



/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {

    html {
        font-size: 60%;
    }

    /* Hero Section */
    .hero-img i img {
        width: 42rem;
    }
}



/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {

    /* Hero Section */
    .hero {
        padding: 4rem 0;
    }

    .hero-content {
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero-img {
        display: none;
    }

    .hero-content h1 {
        margin-bottom: 4rem;
        text-align: center;
    }

    .hero-content .hero-title {
        width: 100%;
        margin-bottom: 4rem;
    }

    .hero-content p {
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .hero-content a {
        width: 100%;
    }

    .hero-buttons {
        flex-direction: column;
    }

    /* Banner AD section */
    .banner {
        padding: 1rem 0;
        gap: 1rem;
        flex-direction: column;
    }

    .banner-image-div {
        width: 100%;
    }

    /* Products section */
    .products-title {
        padding-top: 5rem;
    }

    .products-content {
        gap: 3rem;
    }

    .products-content .product-box {
        height: 23rem;
        flex: 0 0 25rem;
    }
}



/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {

    /* Hero Section */
    .hero {
        padding: 2rem 0;
    }

    .hero-content {
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero-img {
        display: none;
    }

    .hero-content h1 {
        font-size: 4.4rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    .hero-content .hero-title {
        width: 100%;
        margin-bottom: 3rem;
    }

    .hero-content p {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .hero-content a {
        width: 100%;
    }

    .hero-buttons {
        margin-top: 2rem;
        gap: 1.5rem;
        flex-direction: column;
    }

    .hero-content .hero-trustpilot {
        width: 100%;
        margin-top: 1rem;
    }

    /* Banner AD section */
    .banner {
        padding: 1rem 0;
        gap: 1rem;
        flex-direction: column;
    }

    .banner-image-div {
        width: 100%;
    }

    /* Products section */
    .products {
        margin-top: 0rem;
        padding: 5rem 0;
    }

    .products-title h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .products-title h2 {
        font-size: 2rem;
    }

    .category-filter {
        width: 80%;
    }

    .products-content {
        gap: 3rem;
    }

    .products-content .product-box {
        height: 25rem;
        flex: 0 0 27rem;
    }
}