/* Products section */
.products {
    padding: 10rem 0;
    color: var(--color-text-light);
}

.products-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.products-title h2 {
    font-size: 5rem;
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-black);
    background: var(--color-linear-1-2);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0rem 0rem 6rem var(--color-primary);
}

.products-title h3 {
    color: var(--color-text-hover);
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-normal);
    font-size: 1.8rem;
}

.filters {
    width: 100%;
    padding: 5rem 0;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-filter {
    width: 80%;
    height: 4rem;
}

.category-filter {
    width: 20%;
    height: 4rem;
}

.category-filter select {
    height: 100%;
    width: 100%;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.4px;
    color: var(--color-text-hover);
    border: 2px solid var(--color-dark-hover);
    background: var(--color-dark);
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
    text-transform: capitalize;
}

.category-filter select option {
    font-size: 1.6rem;
    background: var(--color-dark);
    color: var(--color-text-hover);
    text-transform: capitalize;
}

.category-filter select option:checked {
    color: var(--color-primary);
}

.search-filter input {
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    outline: none;
    font-size: 1.4rem;
    letter-spacing: 0.4px;
    color: var(--color-text-hover);
    border: 2px solid var(--color-dark-hover);
    background: var(--color-dark);
    border-radius: 5px;
    transition: 0.3s ease;
}

.search-filter input:focus {
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 4px var(--color-primary), inset 0 0 4px var(--color-primary);
}

.search-filter input::placeholder {
    color: var(--color-text-dark);
}

.products-content {
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.product-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 24rem;
    flex: 0 0 27rem;
    padding: 1rem;
    color: var(--color-text-hover);
    border: 1px solid var(--color-dark-hover);
    border-radius: 5px;
    background-color: var(--color-dark);
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    opacity: 1;
}

.product-box:hover {
    background-color: var(--color-dark-hover);
    border-color: var(--color-text-dark);
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s, border-color 0.3s;
}

.product-img {
    width: 100%;
    height: 65%;
}

.product-img i img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
}

.product-text {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-title {
    color: var(--color-text-light);
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-normal);
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-button {
    width: 100%;
    height: 15%;
}

/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {

    .products {
        padding: 5rem 0;
    }
}

/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {

    .products {
        padding: 5rem 0;
    }

    .filters {
        gap: 2rem;
    }

    .search-filter {
        width: 50%;
    }

    .category-filter {
        width: 50%;
    }

    .category-filter select {
        font-size: 1.4rem;
    }

    .category-filter select option {
        font-size: 1.4rem;
    }

    .search-filter input {
        font-size: 1.4rem;
    }

    .products-content {
        gap: 3rem;
    }

    .products-content .product-box {
        height: 23rem;
        flex: 0 0 25rem;
    }
}

/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {
    .products {
        padding: 2.5rem 0;
    }

    .products-title h2 {
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }

    .products-title h3 {
        font-size: 1.6rem;
    }

    .filters {
        padding: 2rem 0;
        gap: 1rem;
    }

    .search-filter {
        width: 50%;
    }

    .category-filter {
        width: 50%;
    }

    .category-filter select {
        padding: 0 0.5rem;
        font-size: 1.2rem;
    }

    .category-filter select option {
        font-size: 1.2rem;
    }

    .search-filter input {
        padding: 0 0.8rem;
        font-size: 1.2rem;
    }

    .products-content {
        gap: 3rem;
    }

    .products-content .product-box {
        height: 24rem;
        flex: 0 0 27rem;
    }

    .product-title {
        font-size: 1.4rem;
    }

    .product-description {
        font-size: 1.2rem;
    }
}